
<link rel="stylesheet" href="/css/sign_up">

<div class="card user_sign_up mx-auto col-10 col-md-8 col-lg-6 p-3 m-5" style="width: 30rem;">
    <h2 class ="text-center pb-3">Sign Up</h2>
    <form action="/users/create" class="mx-auto" method="POST">
        <input class="mb-2" type="text" name="name" placeholder="Your Name" required><br>
        <input class="mb-2 input-lg" type="email" name="email" placeholder="Your Email" required><br>
        <input class="mb-2" type="password" name="password" placeholder="Password" required><br>
        <input class="mb-2" type="password" name="confirm_password" placeholder="Confirm Password" required><br>
        <input class="" type="submit" value="Sign Up">
    
    </form>
  </div>



<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>