input, .google-sign{
    width: 22rem;
    height: 3rem;
}

.user_sign_in{
    width: 35%;
}

.google_anchor{
    text-decoration: none !important;
    color: black;
}

.button_submits{
    background-color: #2196f3 !important;
    font-weight: bolder !important;
}

.img-class{
    width: 10%;
    margin-right: 10px;
}